include _tmpl
include source/reviewList

mixin reviewRender(item)
    .reviews__item(data-dot=item.dot)
        .reviews__item-thumbnail
            h4= item.company
            img(src= item.img)
        .reviews__item-decription
            .row
                .col-sm-4
                    h5 Клиент:
                    p !{item.client}
                .col-sm-4
                    h5 Задача:
                    p !{item.task}
                .col-sm-4
                    h5 Решение:
                    p !{item.solve}

+tmpl('Они довольны нами', 'reviews', 'g-bg-light')
    .reviews.b-main-container.js-review.b-slick-arrow
        for item in reviewList
            +reviewRender(item)