include _tmpl
include source/serviceList

mixin serviceChild(item)
    li
        a.js-link(href=item.url)=item.label

mixin serviceRender(item)
    li.services-list__item(data-row=item.row)
        .wrap
            .item-icon
                i.icon(class=item.icon)
            img(src=item.img)
            .title
                h4= item.title
            ul.list.js-child
                for service in item.child
                    +serviceChild(service)

+tmpl('Наши услуги', 'services', 'g-bg-light', '[{"label":"Посмотреть все","url":"#"}]')
    .b-main-container
        ul.services-list
            - var i = 0
            for item in serviceList
                if i == 2
                    li.services-list__detail
                +serviceRender(item)
                - i = i + 1

            li.services-list__footer
                a.btn.btn-outline-warning.btn-lg.service-btn-show-all(href='#') Посмотреть все